/* esta es mi archivo de estilos */
body{
    /*background-color: #004080;*/
    background-image: url("tapiz1.jpg");
    /* Centramos el fondo horizontal y verticalmente */
    background-position: center center;
         /* El fonde no se repite */
    background-repeat: no-repeat;
         /* Fijamos la imagen a la ventana para que no supere el alto de la ventana */
    background-attachment: fixed;
         /* El fonde se re-escala automáticamente */
    background-size: cover;
         /* Color de fondo si la imagen no se encuentra o mientras se está cargando */
    background-color: #FFF;
         /* Fuente para el texto */
    text-align: center;
    color: #000;
    font-family: "Times New Roman", Times, serif;
}
header,h2 {
        font-family: sans-serif; 
        font-size: 18px; 
        font-weight: 400; 
        color: #ffffff; 
        background:#ee0467 
  }
  
  body,html {
    height: 100%;
  } 
h1{
    text-align: center;
    font-family: times new roman;
}
a:link{
    color: rgb(10, 46, 248) ;
}
a:visited{
    background-color:  #e6f2ff;
    color:yellowgreen ;

}
a:hover{
    background-color:  #e6f2ff;

}
a:active{
    color: indianred;
}

div{
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        background: #71e26d;
        text-align: center;
}